@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 12px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color:white; 
}

a:hover{
    color: rgb(132,13,201);
    transition: .5s all;
}

.lista-btn{
    border: 2px solid rgb(132,13,201);
    padding: 12px;
    border-radius: 12px;
    transition: .5s all;
}

.lista-btn:hover{
    background-color: rgb(132,13,201);
    color: white;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: rgb(132,13,201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-weight: 100;
}

img{
    width: 720px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

input[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132,13,201);
    color: white;
    font-weight: bold;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(98, 11, 148);
}

@media screen and (max-width:780px) {
    body{
        text-align: center;
    }

    article{
        display: none;
    }

    header{
        display: block;  
    }

    input[type="submit"]{
        margin: 15px auto;
    }

    .lista-btn{
        margin: auto;
    }

    aside{
        margin: auto;
    }
}
